<%= form_with(model: student) do |form| %>
  <% if student.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% student.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :average_score, style: "display: block" %>
    <%= form.number_field :average_score %>
  </div>

  <div>
    <%= form.label :average_progress, style: "display: block" %>
    <%= form.number_field :average_progress %>
  </div>

  <div>
    <%= form.label :graduated, style: "display: block" %>
    <%= form.check_box :graduated %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
