<div id="<%= dom_id student %>">
  <p>
    <strong>User:</strong>
    <%= student.user_id %>
  </p>

  <p>
    <strong>Average score:</strong>
    <%= student.average_score %>
  </p>

  <p>
    <strong>Average progress:</strong>
    <%= student.average_progress %>
  </p>

  <p>
    <strong>Graduated:</strong>
    <%= student.graduated %>
  </p>

</div>
