<div id="<%= dom_id enrollment %>">
  <p>
    <strong>Course:</strong>
    <%= enrollment.course_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= enrollment.user_id %>
  </p>

  <p>
    <strong>Pass score:</strong>
    <%= enrollment.pass_score %>
  </p>

  <p>
    <strong>Progress:</strong>
    <%= enrollment.progress %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= enrollment.score %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= enrollment.completed %>
  </p>

  <p>
    <strong>Graduate:</strong>
    <%= enrollment.graduate %>
  </p>

</div>
