<p style="color: green"><%= notice %></p>

<h1>Enrollments</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Course ID</th>
      <th scope="col">User ID</th>
      <th scope="col">Pass score</th>
      <th scope="col">Progress</th>
      <th scope="col">Score</th>
      <th scope="col">Completed</th>
      <th scope="col">Graduate</th>
    </tr>
  </thead>
  <tbody>
  <% @enrollments.each do |enrollment| %>
    <tr>
      <th scope="row">1</th>
      <td><%= enrollment.course_id %></td>
      <td><%= enrollment.user_id %></td>
      <td><%= enrollment.pass_score %></td>
      <td><%= enrollment.progress %></td>
      <td><%= enrollment.score %></td>
      <td><%= enrollment.completed %></td>
      <td><%= enrollment.graduate %></td>
      <td><%= link_to "Show this enrollment", enrollment %>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to "New enrollment", new_enrollment_path %>

